.header {
  background-color: $color-blue; 

  &__logo {
    font-family: $galada; 
    color: $color-white; 
    font-size: 3.5rem;
    margin-left: 14rem; 
    margin-top: .8rem;
  }

  &__loginForm {
    color: $color-white; 

    &--container {
      display: inline-block;
      &:not(:last-child) {
        margin-right: 1rem; 
      }
    }
    &--input {
      border: none;
      height: 2rem;
    }

    &--label {
      margin-top: .5rem; 
      margin-bottom: .3rem; 
      font-family: Helvetica; 
    }

    &--btn {
      border: none; 
      padding: .5rem 1rem;
      color: $color-blue;
      font-family: Helvetica; 
      box-shadow: 0 1rem 2rem rgba($color-blue, .2);

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__forgotAccount {
    margin-top: .5rem; 
    margin-bottom: .7rem;
    color: $color-white; 
    font-family: Helvetica; 
    margin-left: 12.8rem;

    &:hover {
      cursor: pointer;
    }
  }
}

.container {


  &__logo {
    vertical-align: top;
    height: 3rem;
    width: 3rem;
    margin-top: .5rem;
    margin-left: 9rem;
    margin-right: 1rem;
    margin-bottom: .5rem;
    display: inline-block; 
  }

  &__search {
    display: inline-block; 
    vertical-align: top;
    
    &--form {
      margin-top: 1rem;
    }
    &--input {

      border: none; 
      height: 2rem;
      width: 25rem;
    }
    &--btn {
      border: solid $color-blue thin;  
      height: 2.2rem; 
      width: 6rem;
    }
  }
}

.logoutContainer {
  // background-color: aquamarine;
  color: $color-white;
  font-size: 1rem;
  font-family: Helvetica; 
  float: right; 
  margin-right: 4rem;
  margin-top: 1.2rem;
  cursor: pointer;
  &__btn {
    
  }
}